
  <div id="del_comment_<%= comment.id %>">
    <div class="container embed-responsive">
      <a class="navbar-brand justify-cotent-start"><%= link_to image_tag(comment.user.avatar.url(:medium), class:"img_nav_profile"), user_path(comment.user), method: :get %></a>
      <label>
        <%= comment.user.username.capitalize %>
      </label>
      <br>
      <label>El <%= comment.created_at.strftime("%d-%m-%Y a las %H:%M:%S") %></label>
      <div class="form-control" style="overflow-y: scroll; height: 100px">
        <%= best_in_place_if current_user.id == comment.user_id, comment, :body, :as => :textarea %>
      </div>
      <% if current_user.id == comment.user_id %>
          <%= button_to 'Delete', comment_path(comment),class:'btn btn-xs btn-danger margin-btn', remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <hr>
    </div>
  </div>


