<div class="container main-color embed-responsive" id="del_post_<%= post.id %>">
  <a class="navbar-brand justify-cotent-start"><%= link_to image_tag(post.user.avatar.url(:medium), class:"img_nav_profile"), user_path(post.user), method: :get %></a>
  <label><%= post.user.username.capitalize %></label>
  <br>
  <label style="float: right">
    El <%= post.created_at.strftime("%d-%m-%Y a las %H:%M:%S")  %>
  </label>
  <br>
  <br>
  <div class="form-control" style="overflow-y: scroll; height: 100px">
    <%= best_in_place_if current_user.id == post.user_id, post, :body,:as => :textarea %>
  </div>
  <hr>
    <div class="div-center media">
      <a href="#" class="pull-left">
        <%= image_tag post.image.url(:medium),class: 'img-class img-fluid' %>
      </a>
    </div>
      <div class="container">
      <% if current_user.id == post.user.id %>
          <div class="btn-delete-post">
            <%= button_to 'Delete Post', post_path(post),class:'btn btn-sm btn-danger', remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      <% end %>
      <hr>
      <% @comments = Comment.where(:post_id => post.id).ordenados %>
      <h5 class="div-center">Comments</h5>
        <input type="button" name="show_<%=post.id%>" class="btn btn-xs btn-success" style="float: right;" id="btn-comments_<%=post.id %>" value="Show Comments"/>
        <br>
        <hr>
      <div class="comments_div<%= post.id%>" style="overflow-y: scroll; height: 250px; display: none;" id="comments_<%= post.id %>" >
        <%= render @comments %>
      </div>
      <table class="div-center">
        <hr>
        <td>
          <%= form_for(Comment.new, remote: true) do |form| %>

              <div class="field">
                <%= form.text_area :body, id: "comment_body_#{post.id}",  class:"form-control", required: true %>
              </div>
              <div class="field">
                <%= form.hidden_field :post_id, :value => post.id %>
              </div>
              <div class="center">
                <%= form.submit "Post Comment",  class:"btn btn-sm btn-primary margin-btn" %>
              </div>
          <% end %>
        </td>
      </table>
    </div>
    </div>
  </br>
