<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'profile' %>
<div class="container main-color col-md-7">
  <header class="form-control">
    <div class="bio-profile">
      <img src="<%= @user.cover.url(:medium) %>" alt="background" class="bg-profile img-fluid">
    </div>
    <div class="avatarcontainer-profile">
      <img src="<%= @user.avatar.url(:medium) %>" alt="avatar-profile" class="avatar-profile">
    </div>
  </header>
  <div class="content">
    <div class="form-control center">
      <ul>
        <li>
          <label>Email</label>
          <span style="color: black;"><%= best_in_place_if current_user == @user, @user,:email %></span>
        </li>
        <li>
          <label>Username</label>
          <span style="color: black;"><%= best_in_place_if current_user == @user, @user, :username %></span>
        </li>
      </ul>
      <hr class="border-hr">
      <% if current_user == @user %>
          <div class="center">
            <%= form_for @user do |user| %>
                <label>Upload Avatar</label>
                <%= user.file_field :avatar, class: "btn btn-xs btn-default" %>
                <br>
                <label class="center">Upload Cover</label>
                <%= user.file_field :cover, class: "btn btn-xs btn-default" %>
                <hr class="border-hr">
                <div class="center">
                  <%= user.submit "Upload Profile" ,class: "btn btn-sm btn-success" %>
                </div>
                </div>
        <% end %>
      <%end%>
    </div>
  </div>
</div>
<br>
